{% extends 'base.html' %}
{% block head %}
<title>Neon Demon Profile</title>
{% endblock %}
{% block content %}
<div class="container-fluid" id="reviewformcontainer">
    <div class="row">
        <div class="review-form col-12">
            {% if user.is_authenticated%}
            {% for message in messages %}
            <div class="fadeout">
                {% if message %}
                    <h5>{{ message }}</h5>
                {% endif %}
            </div>
            {% endfor %}
            <h2> Welcome {{ user.username }} </h2>
            <form action="{% url 'logout' %}" method="post" style="display: flex; flex-direction: column; align-items: center;">
                {% csrf_token %}
                <button class="login-submit" type="submit">Log Out</button>
                <br>
                <button class="login-submit" type="submit">
                    <a href ="{% url 'password_change' %}">
                        Change Password
                    </a>
            </form>
            {% else %}
            <h2>Log in</h2>
            <form method="post" style="display: flex; flex-direction: column; align-items: center;">
                {% csrf_token %}
                {{ form }}
                <button class="login-submit" type="submit">Log In</button>
            </form>
            <div col-12>
                <button class="login-submit" type="submit">
                    <a href ="{% url 'signup' %}">Create an account</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}