@import url('https://fonts.cdnfonts.com/css/death-crow');


/* Reset the landing page style */
html,
body {
    width: 100%;
    height: 100%;
    color: #383030;
}

/* Main landing page div container */
#landing-page {
    display: table;
    background: url('../images/landingpageimage.jpg') no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    /*Links with JS to transition the landing page off the screen */
    transition: transform 1s ease-in-out;
}

/* Container for the text and button */
.landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* style for landing page heading */
.landing-text h1 {
    font-size: 60px;
    font-family: 'DEATH CROW', sans-serif;
    font-weight: 10px;
    color: black;
    text-shadow: 3px 3px rgba(48, 213, 48, 0.5);
    background: rgba(0, 0, 0, 0.223);
    animation: flicker 1s infinite alternate-reverse;
}

/* Keyframes for the flicker effect */
/*some code taken from W3 schools for the flicker effect */
@keyframes flicker {
    0% {
        text-shadow: 0 0 10px rgba(51, 209, 51, 0.5);
    }

    100% {
        text-shadow:
            0 0 5px rgba(48, 213, 48, 0.5),
            /* Flicker between different neon colors */
            0 0 20px rgba(51, 209, 51, 0.5),
            0 0 30px rgba(48, 213, 48, 0.5),
            0 0 40px rgba(48, 213, 48, 0.5);
    }
}

/* style for landing page button */
#start-btn {
    background: rgba(0, 0, 0, 0.223);
    box-shadow: 0 0 10px rgba(51, 209, 51, 0.5);
    font-family: 'DEATH CROW', sans-serif;
    font-size: 40px;
    border: black solid 1px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

#start-btn:hover {
    color: rgba(51, 209, 51);
}

/*main content CSS */

#main-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

/* css to hide content */

.hidden {
    z-index: -1
}

/* Banner container on index */
#banner {
    padding: 0;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: black;
    border: none;
}

.header-bar {
    width: 33%;
}

#banner-img {
    background: url('../images/neondemonheadersmall.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin-right: 10px;
}

/* navbar styling */
.nav-item {
    font-family: 'DEATH CROW', sans-serif;
    font-size: 25px;
}

.nav-item a,
.dropdown-item a,
.nav-link
.nav-item a:visited,
.dropdown-item a:visited,
.nav-link:visited {
    color: white;
}

.nav-item a:hover,
.dropdown-item a:hover,
.dropdown-menu:hover,
.nav-link:hover {
    color:rgba(51, 209, 51);
    background: transparent;
}

.dropdown-menu {
    background: black;
}



/* media queries */

@media screen and (max-width: 660px) {
    #banner-img {
        display: none;
    }
}