/* font import */
/* death crow custom */
@import url('https://fonts.cdnfonts.com/css/death-crow');
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

/* ------------------ base.html custom CSS *-----------------------*/
html,
body,
.navbar {
    padding:0;
    margin:0;
}

body {
    padding-top:85px;
}

.navbar {
    position: fixed;
    top: 0;
    left:0;
}

/* navbar style */
nav * {
    font-family: 'DEATH CROW', sans-serif;
    margin:0;
    padding:0;
}

.nav-link,
.nav-link a,
.nav-item,
#home,
.dropdown-item,
#offcanvasNavbarLabel{
    font-size: 25px;
    color: white;
}

/* pseudo styling */
.nav-link:hover,
.nav-link a:hover,
.nav-item:hover,
#home:hover,
.dropdown-item:hover {
    color: rgb(23, 224, 23);
    background: transparent;
}

.nav-link:focus,
.nav-link a:focus,
.nav-item:focus,
#home:focus,
.dropdown-item:focus,
.dropdownmenu.show:focus,
.nav-item.dropdown>.nav-link:focus {
    color: rgb(23, 224, 23);
}

#navbar,
.offcanvas-header,
.offcanvas-body,
.dropdown-menu {
    background-color: black;
}


.navbar-toggler,
.btn-close {
    background-color: rgb(23, 224, 23);
    border: 1px solid rgb(23, 224, 23)
}

#logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/* -------------- about.html custom css ---------------------------- */

#about-shop-img{
    background: url('../images/landingpageimage.jpg') no-repeat 20% 60%;
    background-size: cover;
    background-color: black;
    text-align:center;
}

.single-column{
    margin:0;
    padding:0;
    height:auto;
    background: rgba(0,0,0,0.3);
}

#about-info{
    font-family:'Sedgwick Ave', cursive;
    color:white;
    font-size:25px;
    margin-top:10px;
    height: auto;
}

/* header style - took some inspiration from a yotube video */
#about-info > h1{
    font-family: 'DEATH CROW', sans-serif;
    font-size:80px;
    animation: neon 3s infinite alternate;
}

@keyframes neon {
    from,
    to {
        color: white;
        text-shadow: 0 0 10px rgb(23, 224, 23), 0 0 20px rgb(23, 224, 23), 0 0 30px rgb(23, 224, 23), 0 0 40px rgb(23, 224, 23), 0 0 50px rgb(23, 224, 23), 0 0 60px rgb(23, 224, 23), 0 0 70px rgb(23, 224, 23);
    }

    50% {
        color: white;
        text-shadow: none;
    }
}

#contact-font-awesome > a{
    color:white;
    padding: 10px;
}

#contact-font-awesome > a:hover{
    color:rgb(23, 224, 23)
}


/* style for 3 columns under the main image */

.about-neon {
    height: auto;
    border: solid 1px rgb(23, 224, 23);
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    padding-top:5px;
    background-color:black;
    color:white;
}

#tatoostyletxt,
.opening-times{
    list-style-type: none;
}

.about-neon-img{
    display: flex;
    overflow: hidden;
}

.autoscroll{
    flex: 0 0 auto;
    width: 100%;
    max-width:100%;
    margin-right:10px;
    height:500px;
}

.hideimg{
    display:none;
}

/* style for the artist columns */

.artist-header{
    text-align: center;
    background-color:black;
    font-family: 'Sedgwick Ave', cursive;
    color:white;
    padding-top:10px;
}

.artist-card-container{
    background-color: black;
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    text-align: center;
}


/* Tarot cards */
.tarot-card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tarot-image,
.alternate-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.alternate-image {
    opacity: 0;
    /* Initially hide the alternate image */
}

.tarot-card:hover .tarot-image {
    opacity: 0;
    /* Hide the original image on hover */
}

.tarot-card:hover .alternate-image {
    opacity: 1;
    /* Show the alternate image on hover */
}


