{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row gallery-header">
        <div id="gallery-container" class="col-12">
            <h1>Aarons Gallery</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row gallery-header">
        {% for image in uploaded_images %}
        <div class="col-md-3 col-4 profile galleryimg" style="background: url('{{ image.Uploaded_image.url }}') no-repeat 50% 50%;
        background-size:cover;margin-top:0; height:300px">  
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}