{% extends 'base.html' %}

{% block content %}
<main>
<div class="container-fluid">
    <div id="about-shop-img" class="row no-gutters">
        <div class="col-12 single-column">
            <div id ="about-info">
                <h1>Neon Demon Tattoo Studio</h1>
                <br>
                <br>
                <h4>We are a small tattoo studio located in the heart of Wednesbury.</h3>
                <br>
                <h4>Dedicated to making your vision your reality.</h4>
                <br>
                <h4>Our artists have years of experience with custom creative designs.</h4>
                <br>
                <h4>Contact us:</h4>
                <div id="contact-font-awesome">
                    <ul id="contact-icons">
                        <li>
                            <a href="https://m.me/111295258422398" rel="noopener" target="_blank" aria-label="open facebook messenger in a new tab">
                                <i class="fab fa-facebook-messenger"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:neondemontattooparlour@gmail.com">
                                <i class="fa-solid fa-envelope"></i>
                            </a>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-12 about-neon about-neon-open">
            <h2>Opening Times</h2>
            <br>
            <ul class ="opening-times">
                <li>
                    Monday: 10:00-17:00
                </li>
                <br>
                <li>
                    Tuesday: 10:00-17:00
                </li>
                <br>
                <li>
                    Wednesday: 10:00-17:00
                </li>
                <br>
                <li>
                    Thursday: 10:00-17:00
                </li>
                <br>
                <li>
                    Friday: 10:00-17:00
                </li>
                <br>
                <li>
                    Saturday: 10:00-17:00
                </li>
                <br>
                <li>
                    Sunday: CLOSED
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-12 about-neon about-neon-img">
            <img class ="autoscroll" src ="../static/images/aaron/aaron-butterflyface.jpg" alt="woman with butterfly face">
            <img class ="autoscroll" src="../static/images/bran/trad-flower-wrist.jpg" alt="woman with butterfly face">
            <img class ="autoscroll" src="../static/images/dan/danny-deku.jpg" alt="woman with butterfly face">
            <img class="autoscroll" src="../static/images/leo/realism-monkey.jpg" alt="woman with butterfly face">
        </div>
        <div class="col-md-4 col-12 about-neon">
            <h2>Why Come To Neon Demon Tattoo?</h2>
            <h5>You Dream It We Ink It!</h5>
            <p>Our talented team of artists will take your ideas and transform them into a piece of art you will cherish forever!
            </p>
            <br>
            <p>Our artists have a variety of different styles and specialities, get in touch or pop down to the shop to get a free
            consultation about your ideas!</p>
            <br>
            <h5>Our styles range from but aren't limited too:</h5>
            <ul id="tatoostyletxt">
                <li>Mandalas</li>
                <li>Photo-realism</li>
                <li>Japanese</li>
                <li>Old School</li>
                <li>Anime</li>
                <li>Cartoons</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row artist-header">
        <div class="col-12">
            <h2>Our Artists:</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row artist-card-container">
        <div class="col-md-3 col-12">
            <div class="tarot-card">
                <img src="../static/images/aaron/aarontarot.png" class="tarot-image" alt="front of card">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="tarot-card">
                <img src ="../static/images/bran/brandontarot.png" class="tarot-image" alt="front of card">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="tarot-card">
                <img src="../static/images/dan/dannytarot.png" class="tarot-image" alt="front of card">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="tarot-card">
                <img src="../static/images/leo/leotarot.png" class="tarot-image" alt="front of card">
            </div>  
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 address-container">
            <div id="address">
                <h1>Address</h1>
            </div>
        </div>
        <div class="col-md-6 address-container">
            <div id="googlemap">
                <h1>Google Map</h1>
            </div> 
        </div>
    </div>
</div>
</main>
{% endblock %}
