{% extends 'base.html' %}

{% block content %}
<main>
<div class="container-fluid">
    <div id="about-shop-img" class="row no-gutters">
        <div class="col-12 single-column">
            <div id ="about-info">
                <h1>Neon Demon Tattoo Studio</h1>
                <br>
                <br>
                <h4>We are a small tattoo studio located in the heart of Wednesbury.</h3>
                <br>
                <h4>Dedicated to making your vision your reality.</h4>
                <br>
                <h4>Our artists have years of experience with custom creative designs.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-12 about-neon">
            <h2>Why Come To Neon Demon Tattoo?</h2>
            <h5>You Dream It We Ink It!</h5>
            <p>Our talented team of artists will take your ideas and transform them into a piece of art you will cherish forever!
            </p>
            <br>
            <p>We know sometimes that getting a tattoo can be scary and painful, (trust me we know) that's why we sell numbing cream
                in the shop so you can
                have your tattoo and not worry so much about the pain.</p>
        </div>
        <div id ="about-neon-img" class="col-md-4 col-12 about-neon">
            <h2>Artists</h2>
        </div>
        <div class="col-md-4 col-12 about-neon">
            <h2>Artists</h2>
        </div>
    </div>
</div>
</main>
{% endblock %}
