{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div id="about-shop-img" class="row no-gutters">
            <div class="col-12 single-column">
                <div id="about-info">
                    <h1>Neon Demon Tattoo Studio</h1>
                    <br>
                    <br>
                    <h4>We are a small tattoo studio located in the heart of Wednesbury.</h3>
                        <br>
                        <h4>Dedicated to making your vision your reality.</h4>
                        <br>
                        <h4>Our artists have years of experience with custom creative designs.</h4>
                        <br>
                        <h4>Contact us:</h4>
                        <div id="contact-font-awesome">
                            <ul id="contact-icons">
                                <li>
                                    <a href="https://m.me/111295258422398" rel="noopener" target="_blank"
                                        aria-label="open facebook messenger in a new tab">
                                        <i class="fab fa-facebook-messenger"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:neondemontattooparlour@gmail.com">
                                        <i class="fa-solid fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-12 about-neon about-neon-open">
                <ul class="opening-times">
                    <li>
                        <h2>Opening Times</h2>
                    </li>
                    <br>
                    <li>
                        Monday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Tuesday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Wednesday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Thursday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Friday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Saturday: 10:00-17:00
                    </li>
                    <br>
                    <li>
                        Sunday: CLOSED
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-12 about-neon about-neon-img">
                <img class="autoscroll" src="{% static 'images/small-logo.jpg' %}" alt="neon demon logo">
                {% for image in uploaded_images %}
                <img class="autoscroll" src="{{ image.Uploaded_image.url }}" alt="uploaded tattoo">
                {% endfor %}
            </div>
            <div class="col-md-4 col-12 about-neon">
                <h2>Why Come To Neon Demon Tattoo?</h2>
                <h5>You Dream It We Ink It!</h5>
                <p>Our talented team of artists will take your ideas and transform them into a piece of art you will
                    cherish forever!
                </p>
                <br>
                <p>Our artists have a variety of different styles and specialities, get in touch or pop down to the shop
                    to get a free
                    consultation about your ideas!</p>
                <br>
                <h5>Our styles range from but aren't limited too:</h5>
                <ul id="tatoostyletxt">
                    <li>Mandalas</li>
                    <li>Photo-realism</li>
                    <li>Japanese</li>
                    <li>Old School</li>
                    <li>Anime</li>
                    <li>Cartoons</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row artist-header">
            <div class="col-12">
                <h2>Our Artists:</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row artist-card-container">
            <div class="col-md-3 col-12">
                <div class="tarot-card">
                    <img src="{% static 'images/aaron/aarontarot.png' %}" class="tarot-image" alt="front of card">
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tarot-card">
                    <img src="{% static 'images/bran/brandontarot.png' %}" class="tarot-image" alt="front of card">
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tarot-card">
                    <img src="{% static 'images/dan/dannytarot.png' %}" class="tarot-image" alt="front of card">
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="tarot-card">
                    <img src="{% static 'images/leo/leotarot.png' %}" class="tarot-image" alt="front of card">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 address-container">
                <div id="address-background">
                    <h2>Address</h2>
                    <br>
                    <h5>39 Lower High Street</h5>
                    <h5>Wednesbury</h5>
                    <h5>United Kingdom</h5>
                    <h5>WS107AQ</h5>
                </div>
            </div>
            <div class="col-md-6 price-container">
                <div id="price-background">
                    <h2>Prices</h2>
                    <br>
                    <h5>Here at Neon Demon we are determined to give you a piece of art that you will love forever</h5>
                    <br>
                    <h5>Each artist has their own individual rate and will give you a price after consultation</h5>
                    <br>
                    <h5>We do require a non-refundable deposit for any appointments booked</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 map-container">
                <iframe id="find-us-map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2425.968386892122!2d-2.0213904873817636!3d52.55209673373577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870996015bd8843%3A0xd7b2769b6719826b!2sNeon%20Demon%20Tattoo!5e0!3m2!1sen!2suk!4v1685105055712!5m2!1sen!2suk"
                    width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}