{% extends 'base.html' %}
{% block content %}
<!--heading content-->
<div class="container-fluid">
    <div class="row gallery-header">
        <div id="gallery-container" class="col-12">
            <h1>Gallery</h1>
            <br>
            <h5>Our artists are dedicated to their work and to you</h5>
            <h5>Each one of our artists has their own specialised styles</h5>
            <h5>This does not limit the styles that are available, All requests are welcome!</h5>
            <h5>Browse through our gallery</h5>
            <h5>And see why Neon Demon Tattoo is the best place to get your ink done</h5>
        </div>
    </div>
</div>
<!-- Artist Container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="aaron-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Aaron</h3>
                    <br>
                    <h5>See Tattoos done by Aaron here:
                        <a href="{% url 'aaron' %}">
                            <i class="fa-solid fa-image"></i>
                        </a>
                    </h5>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                        {% if user.username == 'neondemonliam' or user.username == 'neondemonaaron'%}
                            <form class ="uploadForm" method="post" enctype="multipart/form-data" autocomplete="off">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="upload-button" type="submit" class="btn btn-primary btn-lg">
                                    <i class="fa-solid fa-cloud-arrow-up"></i>
                                    Upload Photo for the gallery
                                </button>
                            </form>
                        {% endif %}
                    {% else %}
                        <h4>Specialties:</h4>
                        <h5>Mandalas</h5>
                        <h5>Blackwork</h5>
                    {% endif %}
                    <br>
                    <!-- fadeout the message in js -->
                    <div class ="fadeout">
                    {% for message in messages %}
                        {% if message %}
                            <h5>{{ message }}</h5>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-6">
            <div class="brandon-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Brandon</h3>
                    <br>
                    <h5>See Tattoos done by Brandon here:
                        <a href="{% url 'brandon' %}">
                            <i class="fa-solid fa-image"></i>
                        </a>
                    </h5>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemonbran'%}
                    <form class="uploadForm" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="upload-button" type="submit" class="btn btn-primary btn-lg">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            Upload Photo for the gallery
                        </button>
                    </form>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Fine-line</h5>
                    <h5>Colour</h5>
                    {% endif %}
                    <br>
                    <!-- fadeout the message in js -->
                    <div class="fadeout">
                    {% for message in messages %}
                    {% if message %}
                    <h5>{{ message }}</h5>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="danny-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Danny</h3>
                    <br>
                    <h5>See Tattoos done by Danny here:
                        <a href="{% url 'danny' %}">
                            <i class="fa-solid fa-image"></i>
                        </a>
                    </h5>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemondan'%}
                    <form class="uploadForm" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="upload-button" type="submit" class="btn btn-primary btn-lg">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            Upload Photo for the gallery
                        </button>
                    </form>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Anime</h5>
                    <h5>Colour</h5>
                    <h5>Blackwork</h5>
                    {% endif %}
                    <br>
                    <!-- fadeout the message in js -->
                    <div class="fadeout">
                    {% for message in messages %}
                    {% if message %}
                    <h5>{{ message }}</h5>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="leo-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Leo</h3>
                    <br>
                    <h5>See Tattoos done by Leo here:
                        <a href="{% url 'leo' %}">
                            <i class="fa-solid fa-image"></i>
                        </a>
                    </h5>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemonleo'%}
                    <form class="uploadForm" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="upload-button" type="submit" class="btn btn-primary btn-lg">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            Upload Photo for the gallery
                        </button>
                    </form>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Realism</h5>
                    <h5>Blackwork</h5>
                    {% endif %}
                    <br>
                    <!-- fadeout the message in js -->
                    <div class="fadeout">
                    {% for message in messages %}
                    {% if message %}
                    <h5>{{ message }}</h5>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery-->
<div class="container-fluid uploaded-image-container">
    <div class="row">
        {% if not galleryImages %}
            <p>We are working hard to get our Gallery page up and running!
                Please check back soon!
            </p>
        {% else %}
            {% for image in galleryImages %}
                <div class="col-md-3 col-4 profile galleryimg" style="background: url('{{ image.Uploaded_image.url }}') no-repeat 50% 50%;
                background-size:cover;margin-top:0; height:300px">
                    <div id="galleryimghover">
                        {% if user.is_authenticated and user == image.uploaded_by %}
                        <form class="deleteForm" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="image_id" value="{{ image.id }}">
                            <button class="delete-button" type="submit" style="margin-top:30px;">
                                Delete <i class="fa-solid fa-trash"></i> 
                            </button>
                            <!-- fadeout the message in js -->
                            <div class="fadeout">
                            {% for message in messages %}
                                {% if message %}
                                    <h5>{{ message }}</h5>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </form>
                        {% endif %}
                        <h3>
                            {{ image.alt|title }}
                            <br>
                            <br>
                            {{ image.uploaded_by.username|cut:"neondemon"|title }}
                        </h3>
                    </div>
                </div>
            {% endfor %}
            {% if user.is_authenticated and user.username in superuser_usernames %}
            <div class ="col-md-3 col-4 profile galleryimg">
                <h3>Next image will be here!</h3>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}