{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row gallery-header">
        <div id="gallery-container" class="col-12">
            <h1>Gallery</h1>
            <br>
            <h5>Our artists are dedicated to their work and to you</h5>
            <h5>Each one of our artists has their own specialised styles</h5>
            <h5>This does not limit the styles that are available, All requests are welcome!</h5>
            <h5>Browse through our gallery</h5>
            <h5>And see why Neon Demon Tattoo is the best place to get your ink done</h5>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="aaron-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Aaron</h3>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemonaaron'%}
                    <button class="upload-button" type="button" class="btn btn-primary btn-lg">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                            Upload Photo for the gallery
                    </button>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Mandalas</h5>
                    <h5>Blackwork</h5>
                    {% endif %}
                </div>
            </div> 
        </div>
        <div class="col-md-3 col-6">
            <div class="brandon-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Brandon</h3>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemonbran'%}
                    <button class="upload-button" type="button" class="btn btn-primary btn-lg">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        Upload Photo for the gallery
                    </button>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Fine-line</h5>
                    <h5>Colour</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="danny-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Danny</h3>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemondan'%}
                    <button class="upload-button" type="button" class="btn btn-primary btn-lg">
                         <i class="fa-solid fa-cloud-arrow-up"></i>
                        Upload Photo for the gallery
                    </button>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h5>Anime</h5>
                    <h5>Colour</h5>
                    <h5>Blackwork</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="leo-gallery profile">
                <div class="profile-opacity text-center">
                    <h3>Leo</h3>
                    {% if user.is_authenticated and user.username in superuser_usernames %}
                    {% if user.username == 'neondemonliam' or user.username == 'neondemonleo'%}
                    <button class="upload-button" type="button" class="btn btn-primary btn-lg">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        Upload Photo for the gallery
                    </button>
                    {% endif %}
                    {% else %}
                    <h4>Specialties:</h4>
                    <h4>Realism</h4>
                    <h4>Blackwork</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}