{% extends 'base.html' %}
{% block content %}
<div class="contaier-fluid">
    <div class="row">
        <div id="review-container" class="col-12">
            <h1>Reviews</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="review-display col-12">
            {% for review in reviews %}
            <ul class="review-list">
                <li>Rating: {{review.rating}}</li>
                <li>{{ review.content }}</li>
                <li>{{ review.name }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="review-form col-12">
            <h2>Please leave a review!</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}