{% extends 'base.html' %}
{% block content %}
<div class="contaier-fluid">
    <div class="row">
        <div id="review-container" class="col-12">
            <h1>Reviews</h1>
            <br>
            <a href="{% url 'reviewform' %}" id="review-button" class="btn btn-primary">Leave a review</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="review-display col-12">
            {% for review in reviews %}
            <ul class="review-list mx-auto">
                <div id ="review-content">
                    <li>Rating:
                        {% if review.rating == 1 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 2 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 3 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 4 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 5 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% else %}
                    {{ review.rating }}
                    <!-- Display the rating value if not in the range 1-5 -->
                    {% endif %}</li>
                    <li>{{ review.content }}</li>
                    <li>Submitted by: {{ review.name }}</li>
                </div>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}