{% extends 'base.html' %}
{% block head %}
<title>Neon Demon Reviews</title>
{% endblock %}
{% block content %}
<div class="contaier-fluid">
    <div class="row">
        <div id="review-container" class="col-12">
            <h1>Reviews</h1>
            <br>
            <p>Great Reviews: click the links below to check them out!</p>
            <ul id="review-links">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100086688095013&sk=reviews" rel="noopener" target="_blank"
                        aria-label="Opens Neon demon facebook reviews in a new tab">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.google.com/search?q=google+reviews+neon+demon+tattoo&sxsrf=APwXEde_AODU3l7UCBhvGR0l_b-sDz7A7Q%3A1684626479382&ei=L1xpZIT_FvKg8gLPhpbQAQ&ved=0ahUKEwjE0ofXioX_AhVykFwKHU-DBRoQ4dUDCA8&uact=5&oq=google+reviews+neon+demon+tattoo&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIFCCEQoAEyBQghEKABMgUIIRCgAToKCAAQRxDWBBCwAzoICCEQFhAeEB06BwghEKABEApKBAhBGABQjwRYrBNgiBVoAnABeACAAWCIAaMEkgEBOJgBAKABAcgBCMABAQ&sclient=gws-wiz-serp#lrd=0x4870996015bd8843:0xd7b2769b6719826b,1,,,,"
                    rel="noopener" target="_blank" aria-label="Opens Neon demon google reviews in a new tab">
                        <i class="fa-brands fa-google"></i>
                    </a>
                </li>
            </ul>
            <br>
            <p>Or leave us a review on this page! with the button below</p>
            <a href="{% url 'reviewform' %}" id="review-button" class="btn btn-primary">Leave a review</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
<!-- Review displays from reviewform.html-->
<div class="container-fluid">
    <div class="row">
        {% if not reviews %}
        <div class="col-12 text-center review-content mt-2">
            <ul class="review-list mx-auto">
                <li>
                    No reviews have been posted yet!
                </li>
            </ul>
        </div>
        {% else %}
        {% for review in reviews %}
        <div class="review-display col-md-4 col-12">
            <ul class="review-list mx-auto">
                <div id ="review-content">
                    <li>Rating:
                        {% if review.rating == 1 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 2 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 3 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 4 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% elif review.rating == 5 %}
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    {% else %}
                    {{ review.rating }}
                    <!-- Display the rating value if not in the range 1-5 -->
                    {% endif %}</li>
                    <li id="reviewcontent">{{ review.content }}</li>
                    <li>Submitted by: {{ review.user.username }}</li>
                    <li>Posted on {{ review.created_on }}</li>
                </div>
            </ul>
            
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}