{% extends 'base.html' %}
{% block head %}
<title>Neon Demon ReviewForm</title>
{% endblock %}
{% block content %}
<div class="container-fluid" id="reviewformcontainer">
    <div class="row">
        <div class="review-form col-12">
            <h2>Please leave a review!</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <br>
                <button type="submit">Submit Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}